{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Sus Highlight</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
	<div class="container-fluid">
		<div class="page-header">
        	<h1><a href="/">Sus Highlight</a></h1>
    	</div>
		{% block content %}
		replace me
		{% endblock %}
	</div>
	
</body>
</html>